.card-header{
    background-color: black;
}
.card-header h5,.card-text{
    color:white;
}
.card-body{
    background-image: linear-gradient(to right,rgb(155, 152, 152),rgb(52, 51, 51));
}

.container{
    color:white;
    background-color: rgb(35,64,75);
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.card-text{
    line-height: 35px;
}
.btn{
    background:transparent;
    border-color: white;
}